<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" routerLink="/">Réseau Social</a>

	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">	
		<li routerLinkActive="active" *ngIf="currentUser != null">
			<a class="nav-link" routerLink="wall">Mur</a>
		</li>

		<li class="nav-item dropdown" routerLinkActive="active" *ngIf="currentUser != null">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Ajout
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" routerLink="movies/add">Film</a>
			  <a class="dropdown-item" routerLink="albums/add">Album</a>
			  <a class="dropdown-item" href="#">Something else here</a>
			</div>
		  </li>
	</ul>

	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li routerLinkActive="active" *ngIf="currentUser == null">
			<a class="nav-link" routerLink="auth/signup"><i class="fas fa-user-plus"></i></a>
		</li>
		
		<li routerLinkActive="active" *ngIf="currentUser == null">
			<a class="nav-link" routerLink="auth/signin">Connexion</a>
		</li>
		
		<li *ngIf="currentUser != null">
			<a class="nav-link">{{ currentUser?.firstName }} {{ currentUser?.lastName }} <i (click)="signOut()" class="fas fa-sign-out-alt"></i></a>
		</li>
		
		<a routerLink="search"><button class="btn btn-outline-sucess my-2 my-sm-0"><i class="fas fa-search"></i></button></a>
	</ul>
	
</nav>