<div class="row">
  <div class="col-md-12">
    <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSubmit()" >

      <div class="input-group">
        <input type="text" id="mySearch" class="form-control" formControlName="value">
      </div>

      <div class="form-group">
        <select id="type" class="form-control" formControlName="type">
          <option value="movie">Film</option>
          <option value="serie">Serie</option>
          <option value="game">Jeux Vidéo</option>
          <option value="album">Album</option>
        </select>
      </div>
      <button class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
    </form>
  </div>

  <div *ngIf="isResult" class=col-md-12>
    <div *ngIf="type === movie">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let movie of movies" [routerLink]="['/movies/', movie.id ]">{{ movie.title }}</li>
      </ul>
    </div>
  </div>
</div>

