<div class="row">
	<div class="col-md-12">
		<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="content">Nouveau commentaire: </label>
					<input type="text" id="content" class="form-control" formControlName="content">
				</div>

				<button class="btn btn-primary" type="submit" [disabled]="commentForm.invalid">Poster</button>
		</form>

		<div class="col-md-12" *ngFor="let comment of comments">
			<p>{{ comment.content }}</p>
		</div>
	</div>
</div>