<div class="row">
  <div class="col-md-8 md-offset-2">
    <h2>Créer un compte</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="text" id="email" class="form-control" formControlName="email">
        </div>

        <div class="form-group">
          <label for="password">password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">Créer mon compte</button>
    </form>
    <p class="text-danger">{{ errorMassage }}</p>

  </div>

</div>

