<div class="row">
  <div class="col-md-8 md-offset-2">
    <h2>Créer un compte</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      
        <div class="form-group">
          <label for="firstName">Prénom: </label>
          <input type="text" id="firstName" class="form-control" formControlName="firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Nom: </label>
          <input type="text" id="lastName" class="form-control" formControlName="lastName">
        </div>

        <div class="form-group">
          <label for="email">Email: </label>
          <input type="email" id="email" class="form-control" formControlName="email">
        </div>

        <div class="form-group">
          <label for="password">password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">Créer mon compte</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>

