<div class="row">
	<div class="col-md-8">
		<form [formGroup]="shForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="html">Message: </label>
				<input type="text" id="html" class="form-control" formControlName="html">
			</div>
			<button class="btn btn-primary" type="submit" [disabled]="shForm.invalid">Envoyer</button>
		</form>
	</div>

	<div class="col-md-12" *ngFor="let brick of bricks; index as i">

		<p>
			<a [routerLink]="['/users', brick.user.id]">{{ brick.user.firstName }} {{ brick.user.lastName }}</a> 
			<span class="m-3" [innerHTML]="brick.html" (click)="goTo(i)"></span>
		</p>

		<footer class="footerMessage">
			<ul class="list-inline">
				<li class="list-inline-item">{{ brick.createdDate | date:'short' }}</li>
				<li class="list-inline-item">
					<!-- <a [routerLink]="['/wall', brick.id]"> -->
						<button type="button" class="btn btn-primary" (click)="navigateToAddComment(i)">
							Commentaire(s)
							<span class="badge badge-light">{{ brick.comments.length }}</span>
						</button>
					<!-- </a> -->
				</li>
			</ul>
		</footer>
		<hr>
	</div>
</div>
