<div class="row">
  <div class="col-md-8 md-offset-2">
    <h2>Ajout d'un film</h2>
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="title">Titre: </label>
          <input type="text" id="title" class="form-control" formControlName="title">
        </div>

        <div class="form-group">
          <label for="releaseDate">Date de sortie: </label>
          <input type="text" id="releaseDate" class="form-control" formControlName="releaseDate">
        </div>

        <div class="form-group">
          <label for="picture">Pochette: </label>
          <input type="text" class="form-control" id="picture" formControlName="picture">
        </div>

        <div class="form-group">
          <label for="synopsis">Synopsis: </label>
          <textarea rows="4" class="form-control" id="synopsis" formControlName="synopsis"></textarea>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="movieForm.invalid">Enregistrer</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
